.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.box-circle{
  text-align: center;
  padding: .5rem;
}

.circle{
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
}



.circle h2{
  margin-bottom: 3px;
  margin-top: .3rem;
}

.circle span{
  font-size: 1rem;
  color: rgba(0,0,0, .5);
}

.bd-black{
  border: 5px solid black;
}
.bd-grey{
  border: 5px solid grey;
}
.bd-red{
  border: 5px solid red;
}

@media only screen and (max-width:767px){
  .circle{
    height: 5rem;
    width: 5rem;
  }

  .circle h2{
    font-size: .9rem;
  }

  .circle span{
    font-size: .8rem;
    color: rgba(0,0,0, .5);
  }

  span{
    font-size: 1rem;
  }
}