
<ion-content [fullscreen]="true">
  <div class="d-flex">
    <div class="box-circle">
        <div class="circle bd-black">
            <h2>Vide</h2>
        </div>
        <span>Cercle1</span>
    </div>
    <div class="box-circle">
        <div class="circle bd-grey">
            <h2>16563</h2>
            <span>FCFA</span>
        </div>
        <span>Cercle2</span>
    </div>
    <div class="box-circle">
        <div class="circle bd-red">
            <h2>16563</h2>
            <span>FCFA</span>
        </div>
        <span>Cercle3</span>
    </div>
</div>

</ion-content>


